{% extends 'layout.twig' %}

{% block body %}
	<h1>{{title}}</h1>
	<form action="/contact/add" method="POST">
		<label for="FullName">FullName</label>
		<input type="text" name="FullName" placeholder="Enter your Full Name">
		<label for="Phone">Phone</label>
		<input type="text" name="Phone" placeholder="Enter your Phone">
		<input type="submit" value="add">
	</form>
{% endblock %}
